<%= render "shared/page_header",
    title: @article.title, 
    action_icons: [
        {icon: "fa-pencil", path: edit_article_path(@article)},
        {icon: "fa-trash", path: article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }}
    ]%>
<p class="text-center mt-5"><%= @article.body %></p>