<%= render "shared/page_header",
    title: @article.title, 
    action_icons: [
        {icon: "fa-pencil", path: edit_article_path(@article)},
        {icon: "fa-trash", path: article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }}
    ]%>
<p class="text-lg my-5"><%= @article.body %></p>
<hr>
<div id="comments-section" class="">
    <h3 class="font-semibold text-lg mt-5">Comments:</h3>
    <% if @article.comments.where(status: "public").empty? %>
        <p class="text-gray-400">Be the first to add a comment...</p>
    <% end %>
    <%= render @article.comments.where(status: "public") %>
</div>
<div>
    <%= render "comments/form", article: @article%>
</div>