<div class="flex items-center mb-5 w-full">
    <div class="w-1/5"></div>
    <h2 id="page-title" class="w-3/5 text-center underline font-semibold text-xl" ><%= title %></h2>
    <% if action_icons.present? %>
        <div id="page-action-icons" class="w-1/5 text-right text-4xl font-bold align-right">
            <% action_icons.each do |action|%>
                <%= link_to action[:path],
                     class: "hover:text-amber-300",
                     data: action[:data].presence || {}  do %>
                    <i class="fa <%= action[:icon]%>"></i>
                <% end%>
            <% end %>
        </div>  
    <% end %>
</div>