<div class="flex justify-center relative mb-5">
    <h2 id="page-title" class="underline font-semibold text-xl" ><%= title %></h2>
    <% if action_icons.present? %>
        <div id="page-action-icons" class="absolute top-0 right-0 text-4xl font-bold align-right">
            <% action_icons.each do |action|%>
                <%= link_to action[:path],
                     class: "hover:text-amber-300",
                     data: action[:data].presence || {}  do %>
                    <i class="fa <%= action[:icon]%>"></i>
                <% end%>
            <% end %>
        </div>  
    <% end %>
</div>