/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
    color: rgb(31 41 55);
}

input,
textarea {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity)) !important;
    border-width: 2px !important;
    border-radius: .75rem !important;
}

button {
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
    border-width: 2px;
    border-radius: .75rem;
    padding: .5rem;
    font-weight: 600;
}

button:hover {
    background-color: rgb(31 41 55);
    color: rgb(252 211 77);
}